
.icon-calendar:before { content: '\e800'; } /* '' */
.icon-twitter:before { content: '\e801'; } /* '' */
.icon-facebook:before { content: '\e802'; } /* '' */
.icon-instagram:before { content: '\e803'; } /* '' */
.icon-plane:before { content: '\e804'; } /* '' */
.icon-share:before { content: '\e805'; } /* '' */
.icon-success:before { content: '\e806'; } /* '' */
.icon-add:before { content: '\e807'; } /* '' */
.icon-search:before { content: '\e808'; } /* '' */
