.footer {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 24px 150px;
    background-color: $tint-color;
    &__menu {
        &-item {
            @include menu-style;
            &:not(:last-of-type) {
                margin-right: 59px;
            }
            &:hover {
                color: $hover-color;
            }
        }
    }
}

@media screen and (max-width: 1280px) {
    .footer {
        padding: 24px 50px;
    }
}

@media screen and (max-width: 1280px) {
    .footer {
        padding: 23px 24px 24px;
    }
}

@media screen and (max-width: 698px) {
    .footer {
        .social-media {
            display: none;
        }
    }
}

@media screen and (max-width: 500px) {
    .footer {
        position: fixed;
        bottom: 1px;
        width: 100%;
        .logo {
            display: none;
        }
        &__menu {
            margin: 0 auto;
        }
    }
}

@media screen and (max-width: 500px) {
    .footer {
        &__menu {
            &-item {
                &:not(:last-of-type) {
                    margin-right: 30px;
                }
            }
        }
    }
}