.logo {
    display: inline-block;
    color: #fff;
    font-family: 'Montserrat', sans-serif;
    font-size: 3.5rem;
    font-weight: 700;
    line-height: 43px;
    position: relative;
    &::after {
        content: "";
        width: 12px;
        height: 12px;
        background-color: #fff;
        position: absolute;
        border-radius: 50%;
        right: -15px;
        top: 20px;
    }
}